<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css">
    <script src="/resources/js/bootstrap/jquery.min.js"></script>
    <script src="/resources/js/bootstrap/bootstrap.min.js"></script>
    <script src="/resources/js/modules/angular.js"></script>
    <script src="/resources/js/modules/angular-drag-and-drop-lists.js"></script>
    <script src="/resources/js/app.js"></script>
    <script src="/resources/js/directives/unselectTeam.js"></script>
    <script src="/resources/js/services/teamFactory.js"></script>
    <script src="/resources/js/controllers/editorController.js"></script>
    <script src="/resources/js/controllers/teamController.js"></script>
    <script src="/resources/js/controllers/propertiesController.js"></script>
    <script src="/resources/js/controllers/rateController.js"></script>
    <script src="/resources/js/controllers/membersController.js"></script>
</head>
<body>

</body>
</html>