<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="col-md-4 col-sm-12 col-xs-12" style="float: right; margin-top: 1%;">
    <div class="properties" ng-show="editMode" ng-controller="propertiesController" ng-init="init()">
        <div style="margin-bottom: 15px;">
            <h4>Team properties</h4>
            <input type="text" class="form-control" placeholder="Name" required autofocus ng-model="team.name">
        </div>
        <div th:replace="fragments/rate-panel :: div"></div>
        <div th:replace="fragments/members-panel :: div"></div>
    </div>
</div>
</body>
</html>